<script>
$(function(){
	$("#shopform").validate({
    rules : {
      "shop[name]": {
        required: true,
        maxlength: 50
      },
      "shop[address]": {
        required: true,
        maxlength: 100
      },
      "shop[opening_ours]": {
        maxlength: 255
      },
      "shop[parking]": {
        maxlength: 50
      }
    },
    messages: {
      "shop[name]": {
        required: "※店名は必須項目です。入力をお願いします。",
        maxlength: "※店名は50文字以内で入力してください。"
      },
      "shop[address]": {
        required: "※住所は必須項目です。入力をお願いします。",
        maxlength: "※住所は100文字以内で入力してください。"
      },
      "shop[opening_ours]": {
        maxlength: "※営業時間は255文字以内で入力してください。"
      },
      "shop[parking]": {
        maxlength: "※駐車場は50文字以内で入力してください。"
      }
    }
  });
});
</script>

<%= form_with(model: @shop, local: true, id: :shopform ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="shopform">
    <div class="shopform_left">
      <div class="shopform_left_name">
        <%= f.label :name ,"店名" %>
        <%= f.text_field :name %>
      </div>
      <div class="shopform_left_address">
        <%= f.label :address ,"住所" %>
        <%= f.text_field :address %>
      </div>
      <div class="shopform_left_opening_ours">
        <%= f.label :opening_ours ,"営業時間" %>
        <%= f.text_area :opening_ours %>
      </div>
      <div class="shopform_left_sheets">
        <%= f.label :sheets, "席数" %>
        <%= f.text_field :sheets %>
      </div>
      <div class="shopform_left_parking">
        <%= f.label :parking ,"駐車場" %>
        <%= f.text_field :parking %>
      </div>
    </div>
    <div class="shopform_right">
      <div class="shopform_right_tag_ids">
        <%= f.label :tag_ids ,"こだわり条件" %>
      </div>
      <%= render 'shared/tagsform', object: f %>
    </div>
  </div>
  <div class="shop_submit">
    <%= f.submit controller.action_name == "new" ? "登録" : "更新" , class: "btn submit_btn shop_submit_btn" %>
  </div>
<% end %>