<% if controller.action_name == "show" %>
<li>
<% end %>

  <div class="shop">
    <div class="shop_left">
      <div class="shop_image">
        <% if @shop_hash[shop.id][:img] %>
          <%= link_to image_tag(@shop_hash[shop.id][:img]), shop %>
        <% else %>
          <%= link_to(image_tag("no_image.png"), shop) %>
        <% end %>
      </div>
    </div>
    <div class="shop_right">
      <div class="shop_right_name">
        <%= link_to shop.name, shop %>
      </div>
      <div class="shop_right_address">
        <%= shop.address %>
      </div>
      <div class="shop_right_point">
        <%= shop.point_avg || "未評価" %>
      </div>
      <div class="shop_right_tags">
        <% shop.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>
      <div class="shop_right_topCom">
        <div class="shop_right_topCom_title">
          <% if @shop_hash[shop.id][:dtl] %>
            <%= @shop_hash[shop.id][:dtl].title %>
            <span class="shop_right_topCom_title_by">
              by <%= link_to @shop_hash[shop.id][:dtl].member.name, postlistMember_path(@shop_hash[shop.id][:dtl].member), target: :_blank %>
            </span>
            <div class="shop_right_topCom_comment">
              <%= @shop_hash[shop.id][:dtl].comment %>
            </div>
          <% else %>
            ※まだコメントがありません
          <% end %>
        </div>
      </div>
      <% if current_member && current_member.admin? %>
        <div class="shop_right_delete">
          <%= link_to "この店舗を削除", shop, method: :delete,data: { confirm: "削除しますか？" } %>
        </div>
      <% end %>
    </div>
  </div>

<% if controller.action_name == "show" %>
</li>
<% end %>