<div class="shop_head">
  <div class="shop_head_left">
    <div class="shop_head_name">
      <%= controller.action_name == "show" ? @shop.name : link_to(@shop.name, shop_path(@shop)) %>
    </div>
    <div class="shop_head_point">
      <div class="raty" read_only="true" data_score="<%= @shop.point_avg %>"></div>
      <div class="shop_head_point_num">
        <%= @shop.point_avg || "未評価" %>
      </div>
    </div>
    <div class="shop_head_tag">
      <div class="tags">
        <% @shop.tags.each do |tag| %>
          <span class="tag">
            <%= tag.name %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="shop_head_right">
    <% if current_member %>
      <%= link_to "店舗情報編集", edit_shop_path(@shop), class: "btn_flat shop_edit_btn"%>
      <%= link_to "レビューを投稿する", "", class: "js_modal_open btn_flat post_create_btn", id: :modal_post %>
    <% else %>
      <%= link_to "店舗情報編集", edit_shop_path(@shop), class: "js_modal_open btn_flat shop_edit_btn", id: :modal_session_edit %>
      <%= link_to "レビューを投稿する", "", class: "js_modal_open btn_flat post_create_btn", id: :modal_session_post %>
    <% end %>
  </div>
</div>

<%= render partial: "posts/postform" %>
<%= render partial: "shops/modalSession" %>