<script>
$(document).on('turbolinks:load', function(){
  //続きを読む機能
  $('.home_left_review_shop_right_name').each(function(e){
    let $comment = $(this);
    // 元の文章を変数に格納
    let comment = $comment.html();
    let commentShow;
    let commentText;
    if($comment.height() > 40){
      // 文章の要素の高さが20を超えていたら隠す用のisHiddenクラスを付与
      $comment.addClass('isHidden');
      commentShow = comment.replace(/<br>/g, "\u00a0").substring(0, 35);
      commentText = commentShow += '...';
      $comment.html(commentText);
    }
  });
});
</script>
<div class="home">
  <div class="home_left">

    <div class="caption_home">
      最近レビューが投稿されたお店
    </div>
    <div class="home_left_review">
      <% @shops.each do |shop| %>
        <div class="home_left_review_shop">
          <%= link_to "", shop, class: :wrap %>
          <div class="home_left_review_shop_left">
            <div class="home_left_review_shop_left_img">
              <div class="liquid">
                <% if shop.latest_img %>
                  <%= image_tag(shop.latest_img.images.first) %>
                <% else %>
                  <%= image_tag("/images/no_image.png") %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="home_left_review_shop_right">
            <div class="home_left_review_shop_right_name">
              <%= shop.name %>
            </div>
            <div class="home_left_review_shop_right_point">
              <div class="home_left_review_shop_right_point_raty">
                <div class="raty" read_only="true" data_score="<%= shop.point_avg %>"></div>
              </div>
              <div class="home_left_review_shop_right_point_num">
                <%= shop.point_avg || "未評価" %>
              </div>
              <% if shop.posts.count > 0 %>
                <div class="home_left_review_shop_right_point_review">
                  <span class="review_icon">レビュー</span>
                  <%= "#{shop.posts.count}件" %>
                </div>
              <% end %>
            </div>
            <div class="home_left_review_shop_right_tags">
              <div class="tags">
                <% shop.tags.first(2).each do |tag| %>
                  <span class="tag">
                    <%= tag.name %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="caption_home">
      エリアから探す
    </div>
    <div class="home_left_area">
      <% @area.each do |prefecture| %>
        <div class="home_left_area_prefecture">
          <div class="prefecture">
            <%= prefecture[0] %>
            <span class="prefecture_count">(<%= Shop.where("address LIKE ?","%#{prefecture[0]}%").count %>件)</span>
          </div>
          <div class="home_left_area_many">
            <% prefecture[1][0].each do |area| %>
              <div class="home_left_area_many_item">
                <a href="<%= search_path(@shop, params: { post: { area: "#{area}", name: ""} }) %>">
                  <%= area %>
                  <span class='count'>(<%= Shop.where("address LIKE ?","%#{area}%").count %>件)</span>
                </a>
              </div>
            <% end %>
          </div>
          <ul class="home_left_area_few">
            <% prefecture[1][1].each do |area| %>
              <li class="home_left_area_few_item">
                <%= link_to( "#{area}",search_path(@shop, params: { post: { area: "#{area}", name: ""} })) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    
    <div class="caption_home">
      こだわり条件から探す
    </div>
    <div class="home_left_type">
      <div class="home_left_type_mamy">
        <% @type.each do |t| %>
          <div class="home_left_type_mamy_item">
            <%= link_to('' ,search_path(@shop, params: { post: { area: "", name: "", tag_ids: [t[0]] }}), class: :wrap) %>
            <img src="<%= t[1] %>",alt="<%= Tag.find(t[0]).name %>") />
            <span>
              <%= Tag.find(t[0]).name %><br />
              <p class="tag_count"><%= Shop.joins(:shop_tag_relations).where("tag_id = ?", t[0]).count %>件</p>
            </span>
          </div>
        <% end %>
      </div>
      <div class="home_left_type_few">
        <% Tag.all.each do |t| %>
          <% match = false %>
          <% @type.each do |tp| %>
            <% if t.id == tp[0] %>
              <% match = true %>
              <% break %>
            <% end %>
          <% end %>
          <% next if match %>
          <div class="home_left_type_few_tag">
            <%= link_to(t.name ,search_path(@shop, params: { post: { area: "", name: "", tag_ids: [t] }})) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="home_right">
    <div class="home_right_count">
      <div class="home_right_count_shops">
        <div class="home_right_count_shops_num">
          <%= Shop.count %> 
        </div>
        <div class="home_right_count_shops_name">
          店舗
        </div>
      </div>
      <div class="home_right_count_posts">
        <div class="home_right_count_posts_num">
          <%= Post.count %>
        </div>
        <div class="home_right_count_posts_name">
          レビュー
        </div>
      </div>
    </div>
    <% if logged_in? %>
      <div class="home_right_profile">
        <div class="home_right_profile_head">
          <%= link_to "", postlist_member_path(current_member), class: :wrap %>
          <div class="home_right_profile_head_icon">
            <div class="liquid">
              <%= current_member.image.attached? ? image_tag(current_member.image) : image_tag("/images/default_member.png")  %>
            </div>
          </div>
          <span class="home_right_profile_head_name">
            <%= current_member.name %> さん
          </span>
        </div>
        <div class="home_right_profile_posts">
          <div class="home_right_profile_posts_name">
            レビュー投稿数
          </div>
          <div class="div_right">
            <%= current_member.posts.count %>
          </div>
        </div>
        <div class="home_right_profile_shops">
          <div class="home_right_profile_shops_name">
            店舗登録数
          </div>
          <div class="div_right">
            <%= current_member.shops.count %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render partial: "sessions/session" %>
    <% end %>
  </div>
</div>



