<% provide(:title, @shop.name) %>
<% breadcrumb :postlist, @shop %>

<div class="row">
      
  <%= render partial: "shopHead" %>

  <div class="caption_postList">
    レビュー一覧
  </div>   

<%= will_paginate @posts %>
   
  <ul>
    <% @posts.each do |post| %>
      <li class="postList" id=<%= "post#{post.id}" %>>
        <div class="postList_member">
          <div class="postList_member_left">
            <div class="postList_member_left_memberImg">
              <div class="liquid">
                <%= link_to( post.member.image.attached? ? image_tag(post.member.image) : image_tag("/images/default_member.png"), postlist_member_path(post.member))  %>
              </div>
            </div>
          </div>
          <div class="postList_member_right">
            <div class="postList_member_right_name">
              <%= link_to(post.member.name, postlist_member_path(post.member)) %>
              さんのレビュー
            </div>
            <div class="postList_member_right_dtl">
              <div class="postList_member_right_dtl_raty">
                <div class="raty" read_only="true" data_score="<%= post.point %>"></div>
                <div class="postList_member_right_dtl_raty_num">
                  <%= post.point %>
                </div>
              </div>
              <div class="postList_member_right_dtl_date">
                <%= "投稿日:#{post.created_at.strftime('%Y/%m/%d')}" %>
              </div>
            </div>
          </div>
        </div>
        <div class="postList_content">
          <div class="postList_content_title">
            <%= post.title %>
          </div>
          <div class="postList_content_comment">
            <%= simple_format(post.comment) %>
          </div>
          <div class="postList_content_images">
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <div class="postList_content_images_img">
                <a class="js_modal_open" id="<%= "modal_image_#{image.id}" %>" href="">
                  <div class="liquid">
                    <%= image_tag image %>
                  </div>
                </a>
              </div>
              <div class="modal js_modal <%= "modal_image_#{image.id}" %>">
                <div class="modal__bg js_modal_close"></div>
                <div class="modal__content_img">
                  <%= image_tag image %>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
          <% if current_member && ( current_member?(post.member) || current_member.admin? ) %>
            <div class="postList_content_delete right">
              <%= link_to "このレビューを削除", post, method: :delete,data: { confirm: "削除しますか？" } %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

<%= will_paginate @posts %>

</div>