<% provide(:title, @shop.name) %>

<script>
$(function(){
  $.fn.raty.defaults.path = "/assets/raty";
  $('.raty').raty({
    half: true,
    readOnly: function() {
      return $(this).attr('read_only');
    },
    score: function() {
      return $(this).attr('data_score');
    },
  });
  // 星をクリック時に数値を更新
  $('.raty').on('click',function(){
    $('.postform_point_num').text($('.postform_point input[name="score"]').val());
  });
  let scrollPos;//topからのスクロール位置
  $('.js-modal-open').on('click',function(){
      scrollPos = $(window).scrollTop();//topからのスクロール位置を格納
      $('.js-modal').fadeIn(10);
      $('body').addClass('fixed').css({ top: -scrollPos });//背景固定
      return false;
  });
  $('.js-modal-close').on('click',function(){
      $('.js-modal').fadeOut(10);
      $('body').removeClass('fixed').css({ top: 0 });//背景固定を解除
      $(window).scrollTop(scrollPos);//元の位置までスクロール
      return false;
  });

});
</script>

<div class="row">
      
  <div class="shop_head">
    <div class="shop_head_name">
      <%= @shop.name %>
    </div>
    <div class="shop_head_point">
      <div class="raty" read_only="true" data_score="<%= @shop_point %>"></div>
      <div class="shop_head_point_num">
        <%= @shop_point %>
      </div>
    </div>
    <div class="shop_head_tag">
      <% @shop.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </div>
  </div>
    <div>
        <a class="js-modal-open" href="">レビューを投稿する</a>
    </div>

<%= will_paginate @posts %>
   
  <ul>
    <% @posts.each do |post| %>
      <li class="shop_Com" id=<%= post.id %>>
        <div class="shop_Com_left">
          <div class="shop_Com_left_memberImg">
            <%= link_to( post.member.image.attached? ? image_tag(post.member.image) : image_tag("default_member.png"), post.member, target: :_blank)  %>
          </div>
          <div class="shop_Com_left_memberName">
            <%= link_to(post.member.name, post.member, target: :_blank) %>
          </div>
        </div>
        <div class="shop_Com_right">
          <div class="shop_Com_right_title">
              <%= post.title %>
          </div>
          <div class="shop_Com_right_comment">
            <%= simple_format(post.comment) %>
          </div>
          <div class="shop_Com_right_point">
            <div class="raty" read_only="true" data_score="<%= post.point %>"></div>
            <div class="shop_Com_right_point_num">
              <%= post.point %>
            </div>
          </div>
          <div class="shop_Com_right_images">
            <% if post.images.attached? %>
              <% post.images.each do |image| %>
                <div class="shop_Com_right_images_img">
                  <%= image_tag image %>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if current_member && current_member.admin? %>
            <div class="shop_Com_right_delete">
              <%= link_to "削除", post, method: :delete,data: { confirm: "削除しますか？" } %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

<%= will_paginate @posts %>



     

    <% if current_member %>
        <%= link_to "店舗情報編集", edit_shop_path(@shop) %>
    <% end %>

    <div>
        <a class="js-modal-open" href="">レビューを投稿する</a>
    </div>

        <%= render partial: "posts/postform" %>

</div>