<% provide(:title, @shop.name) %>
<% breadcrumb :shops_show, @shop %>

<script>
  $(window).on('load',function(){
    $('.postform_point input[name="score"]').val(0);
  });
$(function(){
  $.fn.raty.defaults.path = "/assets/raty";
  $('.raty').raty({
    half: true,
    readOnly: function() {
      return $(this).attr('read_only');
    },
    score: function() {
      return $(this).attr('data_score');
    },
  });
  // 星をクリック時に数値を更新
  $('.raty').on('click',function(){
    $('.postform_point_num').text($('.postform_point input[name="score"]').val());
  });

  // 投稿フォームと画像のモーダル表示
  let scrollPos;//topからのスクロール位置
  $('.js_modal_open').on('click',function(){
      scrollPos = $(window).scrollTop();//topからのスクロール位置を格納
      let open = '.js_modal.' + $(this).attr('id');
      $(open).fadeIn(10);
      $('body').addClass('fixed').css({ top: -scrollPos });//背景固定
      return false;
  });
  $('.js_modal_close').on('click',function(){
      $('.js_modal').fadeOut(10);
      $('body').removeClass('fixed').css({ top: 0 });//背景固定を解除
      $(window).scrollTop(scrollPos);//元の位置までスクロール
      return false;
  });

  //続きを読む機能
  $('.shop_Com_right_comment').each(function(e){
    let $comment = $(this);
    // 元の文章を変数に格納
    let comment = $comment.html();
    let commentShow;
    let commentText;
    if($comment.height() > 100){
      // 文章の要素の高さが100を超えていたら隠す用のisHiddenクラスを付与
      $comment.addClass('isHidden');
      
      // ウィンドウ幅が768px以上の時の処理（PC表示）
      if (window.matchMedia('(min-width: 768px)').matches) {
        commentShow = comment.replace(/<br>/g, "\u00a0").substring(0, 128);
        commentText = commentShow += '...続きを読む';
        $comment.html(commentText);
      } else { // ウィンドウ幅が768px以下の時の処理（スマホ表示）
        commentShow = comment.replace(/<br>/g, "\u00a0").substring(0, 68);
        commentText = commentShow += '...続きを読む';
        $comment.html(commentText);
      }
    }
  });
});
</script>

<div class="row">
      
  <%= render partial: "shopHead" %>

  <div class="shop_dtl">
    <div class="shop_dtl_left">
      <table class="table">
        <tr>
          <th>店名</th>
          <td><%= @shop.name %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @shop.address %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @shop.opening_ours %></td>
        </tr>
        <tr>
          <th>席数</th>
          <td><%= @shop.sheets %></td>
        </tr>
        <tr>
          <th>駐車場</th>
          <td><%= @shop.parking %></td>
        </tr>
        <tr>
          <th>店舗登録者</th>
          <td><%= link_to @shop.member.name, @shop.member, target: :_blank %></td>
        </tr>
      </table>
    </div>
    <div class="shop_dtl_right">
      <% @no_image = true %>
      <% @image_cnt = 0 %>
      <% @posts.each do |post| %>
        <% if post.images.attached? %>
          <% post.images.each do |image| %>
            <div class="shop_dtl_right_img">
              <a class="js_modal_open" id="<%= "modal_image_#{image.id}" %>" href="">
                <%= image_tag image %>
              </a>
            </div>
            <div class="modal js_modal <%= "modal_image_#{image.id}" %>">
              <div class="modal__bg js_modal_close"></div>
              <div class="modal__content_img">
                <%= image_tag image %>
              </div>
            </div>
            <% @image_cnt +=1 %>
            <% break if @image_cnt > 7 %>
          <% end %>
          <% @no_image = false %>
        <% end %>
        <% break if @image_cnt > 7 %>
      <% end %>
      <div class="shop_dtl_right_noImg">
        <%= image_tag("no_image.png") if @no_image %>
      </div>
    </div>
  </div>

  <div class="caption_shop">
    レビュー
  </div>   

  <ul>
    <% @posts.first(3).each do |post| %>
      <li class="shop_Com">
        <div class="shop_Com_left">
          <div class="shop_Com_left_memberImg">
            <%= link_to( post.member.image.attached? ? image_tag(post.member.image) : image_tag("default_member.png"), postlistMember_path(post.member), target: :_blank)  %>
          </div>
          <div class="shop_Com_left_memberName">
            <%= link_to(post.member.name, postlistMember_path(post.member), target: :_blank) %>
          </div>
        </div>
        <div class="shop_Com_right">
          <%= link_to "", "/postlist/#{@shop.id}##{post.id}", class: :wrap %>
          <div class="shop_Com_right_title">
              <%= post.title %>
          </div>
          <div class="shop_Com_right_comment" id=<%= post.id %>>
            <%= simple_format(post.comment) %>
          </div>
          <div class="shop_Com_right_dtl">
            <div class="shop_Com_right_dtl_raty">
              <div class="raty" read_only="true" data_score="<%= post.point %>"></div>
            </div>
            <div class="shop_Com_right_dtl_date">
              <%= "投稿日:#{post.created_at.strftime('%Y/%m/%d')}" %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="right">
    <%= link_to "レビューをすべて読む(#{@posts.count}件)", postlist_path(@shop) %>
  </div>

  <%= render partial: "posts/postform" %>

</div>
