<% provide(:title, @shop.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @shop.name %>
      </h1>
      <table>
        <tr>
          <th>店名</th>
          <td><%= @shop.name %></td>
        </tr>
        <tr>
        <tr>
          <th>ポイント</th>
          <td><%= @shop_point ? @shop_point.round(1) : "-" %></td>
        </tr>
        <tr>
          <th>画像</th>
          <td>
            <div class="shop_image">
              <% @no_image = true %>
              <% @posts.each do |post| %>
                <% if post.images.attached? %>
                  <% post.images.each do |image| %>
                    <%= image_tag image %> <br>
                  <% end %>
                  <% @no_image = false %>
                <% end %>
              <% end %>
              <%= image_tag("no_image.png") if @no_image %>
            </div>
          </td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @shop.address %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @shop.opening_ours %></tpar
        </tr>
        <tr>
          <th>席数</th>
          <td><%= @shop.sheets %></td>
        </tr>
        <tr>
          <th>駐車場</th>
          <td><%= @shop.parking %></td>
        </tr>
        <tr>
          <th>初投稿者</th>
          <td><%= link_to @shop.member.name, member_path(@shop.member), target: :_blank %></td>
        </tr>
      </table>
    </section>

    <ul class="members">
      <%= render 'shared/postlist' %>
    </ul>
    

    <% if current_member %>

      <%= form_with(model: @post, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <span class="image">
          <%= f.file_field :images, multiple: true , accept: "image/jpeg,image/gif,image/png" %>
        </span>
        
        <%= f.label :title ,"タイトル" %>
        <%= f.text_field :title, class: 'form-control' %>
  
        <%= f.label :point ,"ポイント" %>
        <%= f.text_field :point , class: 'form-control' %>
  
        <%= f.label :comment ,"レビュー" %>
        <%= f.text_area :comment , class: 'form-control' %>
  
        <%= f.hidden_field :shop_id, value: @shop.id %>
        
        <%= f.submit "投稿", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "店舗情報編集", edit_shop_path(@shop) %>
      
    <% end %>
  </aside>
</div>