
<script>
  $(function(){
    $('.js_switch').on('click',function(){
        $('.search_form_hide').slideToggle(200);
        return false;
    });
  });
(function () {
 
  // 「一覧表示」ボタン押下時
  var btnList_onclick = function (event) {
    $("#search_form_id").attr("action", "<%= search_path %>").submit();
  };

  // 「地図表示」ボタン押下時
  var btnMap_onclick = function (event) {
    $("#search_form_id").attr("action", "<%= map_path %>").submit();
  };
 
  // ドキュメント読み込み完了時
  var document_onready = function (event) {
    $("#btn_list").on("click", btnList_onclick).focus();
    $("#btn_map").on("click", btnMap_onclick);
  };
 
  $(document).ready(document_onready);
})();
</script>

<header>
  <div class="container">
    <div class="header_contents">
        <div class="global_search">
          <div class="global_search_title">
            <%= link_to "ラーメンログ", root_path, id: "logo",style:"color:black" %>
          </div>
          <div class="global_search_form">
            <%= form_with(url: "", local: true, id: "search_form_id", method: "get") do |f| %>
              <div class='search_form'>
                <div class='search_form_word'>
                  <div class='search_form_word_area'>
                    <%= f.text_field 'post[area]', placeholder: 'エリア[例:池袋、新宿]', class: 'form-control' %>
                  </div>
                  <div class='search_form_word_name'>
                    <%= f.text_field 'post[name]', placeholder: '店名', class: 'form-control' %>
                  </div>
                <div class='search_form_switch'>
                  <a class='js_switch btn_flat search_dtl_btn'>＋こだわり条件</a>
                </div>
                  <div class='search_form_btn'>
                    <%= f.submit '一覧表示', class: "btn list_btn", id: "btn_list" %>
                  </div>
                  <div class='search_form_btn_map'>
                    <%= f.submit '地図表示', class: "btn map_btn", id: "btn_map" %>
                  </div>
                </div>
                <div class='search_form_hide'>
                  <div class='search_form_AO'>
                    <%= f.select 'post[AO]', {'選択した全てのタグを含む(AND)': 'AND', '選択した一部のタグを含む(OR)': 'OR'}, {selected: 'AND'} %>
                  </div> 
                    <%= render partial: 'shared/tagsform', locals: { obj: f, name: "post[tag_ids]" } %>
                </div> 
              </div>
            <% end %>
          </div>
        </div>


      <nav> 
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to "店舗登録", registration_path %></li>
            <li><%= link_to "会員一覧", members_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                アカウント <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "プロフィール", postlist_member_path(current_member) %></li>
                <% if current_member.email != "guest@example.com" %>
                  <li><%= link_to "設定", edit_member_path(current_member) %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>