<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>

    <%= render 'layouts/shim' %>
  </head>
  <body>
  <input type="hidden" id="refresh" value="no">
    <%= render 'layouts/header' %>

    <% if controller.action_name == "home" %>
      <div id="home" class="home_contents">
    <% else %>
      <div id="other" class="other_contents">
    <% end %>
    
      <%= breadcrumbs separator: " &rsaquo; " %>

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

      <%= debug(params) if Rails.env.development? %>
       
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>