<% provide(:title, @member.name) %>
<% breadcrumb :postlist_member, @member %>
<div class="row">
  <div class="postlistMember_profile">
    <div class="postlistMember_profile_left">
      <div class="postlistMember_profile_left_icon">
        <a class="js_modal_open" id="<%= "modal_image_profile" %>" href="">
          <div class="liquid">
            <%= @member.image.attached? ? image_tag(@member.image) : image_tag("/images/default_member.png")  %>
          </div>
        </a>
      </div>
      <div class="modal js_modal <%= "modal_image_profile" %>">
        <div class="modal__bg js_modal_close"></div>
        <div class="modal__content_img">
            <%= @member.image.attached? ? image_tag(@member.image) : image_tag("/images/default_member.png")  %>
        </div>
      </div>
    </div>
    <div class="postlistMember_profile_right">
      <div class="postlistMember_profile_right_name">
        <span class="name">
          <%= @member.name %> さんのプロフィール
        </span>
        <% if current_member.email != "guest@example.com" %>
          <%= link_to("(編集する)", edit_member_path(@member)) if @member.id == current_member.id %>
        <% end %>
      </div>
      <div class="postlistMember_profile_right_delete">
        <% if current_member && current_member.admin? && !current_member?(@member) %>
          | <%= link_to "削除", @member, method: :delete,
                                        data: { confirm: "削除しますか？" } %>
        <% end %>
      </div>
      <div class="postlistMember_profile_right_posts">
        <%= "(レビュー投稿数:#{@member.posts.count})" %>
      </div>
      <div class="postlistMember_profile_right_shops">
        <%= "(店舗登録数:#{@member.shops.count})" %>
      </div>
    </div>
  </div>

  <% unless @posts.empty? %>
    <div class="caption_postList">
      レビュー一覧
    </div>   

    <%= will_paginate @posts %>
    
    <ul>
      <% @posts.each do |post| %>
        <li class="postList" id=<%= post.id %>>
          <div class="postList_member">
            <div class="postList_member_left">
              <div class="postList_member_left_name">
                <%= link_to( post.shop.name, post.shop)  %>
              </div>
            </div>
            <div class="postList_member_right">
              <div class="postList_member_right_address">
                (<%= post.shop.address %>)
              </div>
              <div class="postList_member_right_dtl">
                <div class="postList_member_right_dtl_raty">
                  <div class="raty" read_only="true" data_score="<%= post.point %>"></div>
                  <div class="postList_member_right_dtl_raty_num">
                    <%= post.point %>
                  </div>
                </div>
                <div class="postList_member_right_dtl_date">
                  <%= "投稿日:#{post.created_at.strftime('%Y/%m/%d')}" %>
                </div>
              </div>
            </div>
          </div>
          <div class="postList_content">
            <div class="postList_content_title">
              <%= post.title %>
            </div>
            <div class="postList_content_comment">
              <%= simple_format(post.comment) %>
            </div>
            <div class="postList_content_images">
            <% if post.images.attached? %>
              <% post.images.each do |image| %>
                <div class="postList_content_images_img">
                  <a class="js_modal_open" id="<%= "modal_image_#{image.id}" %>" href="">
                    <div class="liquid">
                      <%= image_tag image %>
                    </div>
                  </a>
                </div>
                <div class="modal js_modal <%= "modal_image_#{image.id}" %>">
                  <div class="modal__bg js_modal_close"></div>
                  <div class="modal__content_img">
                    <%= image_tag image %>
                  </div>
                </div>
              <% end %>
            <% end %>
            </div>
            <% if current_member && ( current_member?(post.member) || current_member.admin? ) %>
              <div class="postList_content_delete right">
                <%= link_to "このレビューを削除", post, method: :delete,data: { confirm: "削除しますか？" } %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

    <%= will_paginate @posts %>

  <% end %>

</div>