<% provide(:title, @member.name) %>
  <div class="member_profile">
    <div class="member_profile_left">
      <div class="member_profile_left_icon">
        <%= @member.image.attached? ? image_tag(@member.image) : image_tag("default_member.png")  %>
      </div>
      <div class="member_profile_left_name">
        <%= @member.name %>
        <div class="member_profile_left_delete">
          <% if current_member.admin? && !current_member?(@member) %>
            | <%= link_to "削除", @member, method: :delete,
                                          data: { confirm: "削除しますか？" } %>
          <% end %>
        </div>
      </div>
      <div class="member_profile_left_posts">
        <%= "(レビュー投稿数:#{@member.posts.count})" %>
      </div>
        <div class="member_profile_left_shops">
      <%= "(店舗登録数:#{@member.shops.count})" %>
      </div>
    </div>
    
    <div class="member_profile_right">
      <ul>
        <% @member.posts.each do |post| %>
          <li class="shop_Com">
            <div class="shop_Com_right">
              <div class="shop_Com_right_title">
                <%= link_to(post.shop.name, post.shop) %>
              </div>
              <div class="shop_Com_right_title">
                  <%= post.title %>
              </div>
              <div class="shop_Com_right_comment">
                  <%= post.comment %>
              </div>
              <div class="shop_Com_right_point">
                  <%= post.point %>
              </div>
              <% if current_member && current_member.admin? %>
                <div class="shop_Com_right_delete">
                  <%= link_to "削除", post, method: :delete,data: { confirm: "削除しますか？" } %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>